
main{    
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  text-align: justify;
  
}
.edition{  
  width:51%;
  cursor: col-resize; 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  margin-top:1%;
}

#edicion_01_editada{  
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  width: 100%; 
}
#edicion_01_original{ 
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  width: 100%;
  object-fit: cover;
  object-position: left;  
}
#edicion_02_editada{  
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  width: 100%; 
}
#edicion_02_original{ 
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  width: 100%;
  object-fit: cover;
  object-position: left;  
}
#edicion_03_editada{  
  grid-row: 3 / 3;
  grid-column: 3 / 3;
  width: 100%; 
}
#edicion_03_original{ 
  grid-row: 3 / 3;
  grid-column: 3 / 3;
  width: 100%;
  object-fit: cover;
  object-position: left;  
}



