main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    
}
#introduccion{
    width: 70%;
    color: whitesmoke;
    font-size: 18px;
    background-color: rgb(19, 19, 19);
    border-radius: 15px;      
    padding: 20px;
    text-align: left;
}
img{
    width: 25%;
    padding: 1%;
}