html {
  /* height: auto;
  min-height: 100%;
  background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(17, 17, 17), rgb(0, 0, 0)); */
  background-image: url(./pictures/background_01_edited_opacity_010_v2.jpg);

}

.header{
  text-align: center;
  font-family: "Bauhaus Modern", sans-serif;
  font-size: 1.0em;
  background-color: rgb(0, 0, 0);
  margin: 0px;
  position: sticky;
  top: 0;
  left: 0;
  border: 2px solid black;
  z-index: 20; 
}

h1{
  margin: 5px;
}

div.header h1 > a {
  text-decoration: none;
  color: whitesmoke;
}

span{
  font-size: 0.5em;
  /* text-decoration: overline; */
}

nav.contenedor {
  background-color: rgb(0, 0, 0);
  font-family: "Bauhaus Modern", sans-serif;
  position: sticky;
  top: 40px;
  left: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  z-index: 19;
}

nav.contenedor p > a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2em;
  margin: 25px;
}
nav.contenedor p > a:hover {
    color: rgba(155, 155, 155, 0.2);
    text-decoration: underline
  }

div.galeria_principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rebeccapurple; */
}

div.galeria_principal > img {
  width: 80%;
 
}
div.galeria_principal > a {
  margin: 10px;
  display:inline-block;
  
}

div.galeria_principal a > img {
  width: 600px;
  /* border: 1px solid red; */
}
div.galeria_principal  a > img:hover {
  opacity: 0.8;
  border: 5px solid rgba(245, 245, 245, 0.2);
  border-radius: 10px;
  transform: scale(1.10);
  -webkit-transition: transform 1000ms;
  -moz-transition: transform 1000ms;
  -o-transition: transform 1000ms;
  -ms-transition: transform 1000ms;
  transition: transform 1000ms; 

  z-index: 17;
  
}

.about {
  color: whitesmoke;
  width: 600px;
  height: 600px;
  margin-left: 33%;
  margin-top: 40px;
  padding: 20px;
  background-color: rgb(19, 19, 19);
  border-radius: 15px;
}
/* Estilos para el formulario de la pagina de contacto */
.formulario {
  color: whitesmoke;
  font-size: 1.5em;
  width: 400px;
  height: 250px;
  margin: auto;
  background-color: rgb(19, 19, 19);
  border-radius: 15px;
  padding: 65px;
  padding-bottom: 250px;
  font-family: "Bauhaus Modern", sans-serif;
  border-bottom-right-radius: 10px;
  margin-top: 40px;
}
.caja_send {
  background-color: black;
  color: whitesmoke;
  position: relative;
  top: 78px;
  left: 350px;
  font-size: 0.8em;
  width: 100px;
  height: 40px;
  font-family: "Bauhaus Modern", sans-serif;
  border-radius: 10px;
  
}

/* Estilos para el footer, en la pagina index he modificado individualmente el foot para la pagina
 de about y la de contact */
footer {
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
  font-family: "Bauhaus Modern", sans-serif;
  /* border: 1px solid red; */
  padding: 10px;
  background-color: rgb(27, 27, 27);
  border-radius: 15px;
  margin-top: 10px;
}

div.retouching {
  width: 90%;
  height: 1980px;
  margin: auto;
  /* border: 1px solid red; */
  
}

div.edicion_01{
  /* border: 1px solid yellow; */
  width: 952px;
  height: 634px;
  margin:20px 372px;
}

div.edicion_01 >img {
  display: flex;
  width: 50%;
  position:absolute;  
  z-index: 10;
    
}
div.edicion_01 >img:hover {
  display: flex;
  width: 40%;
  position: absolute;
  z-index: 2;
  
  
}
div.edicion_02{
  /* border: 1px solid yellow; */
  width: 952px;
  height: 634px;
  margin:20px 372px;
}
div.edicion_02 >img {
  display: flex;
  width: 50%;
  position:absolute;  
  z-index: 10;
    
}
div.edicion_02 >img:hover {
  display: flex;
  width: 40%;
  position: absolute;
  z-index: 2; 
  
}
div.edicion_03{
  /* border: 1px solid yellow; */
  width: 952px;
  height: 634px;
  margin: auto;
  margin:20px 372px;
}
div.edicion_03 >img {
  display: flex;
  width: 50%;
  position:absolute;  
  z-index: 10;
    
}
div.edicion_03 >img:hover {
  display: flex;
  width: 40%;
  position: absolute;
  z-index: 2; 
  
}
div.edicion_04{
  /* border: 1px solid yellow; */
  width: 952px;
  height: 634px;
  margin: auto;
  margin:20px 372px;
}
div.edicion_04 >img {
  display: flex;
  width: 50%;
  position:absolute;  
  z-index: 10;
    
}
div.edicion_04 >img:hover {
  display: flex;
  width: 40%;
  position: absolute;
  z-index: 2; 
  
}